* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}

header {
    background-color: rgb(33, 30, 207);
}

header nav {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

header nav ul li{
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    position: relative;
}

header nav ul li a{
   text-decoration: none;
   color: #ffff;
}

header nav h1 {
    color: green;
    font-weight: bold;
    font-size: 32px;
}

header nav .profile {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;

}

header nav .profile img {
    width: 120%;

}


header nav ul li ul {
    background-color: rgb(49, 65, 136);
    display: none; 
    flex-direction: column;
    width: 220%; 
    position: absolute;
    top: 100%;
}

header nav ul li ul li a {
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
}
 
header nav ul li.menu:hover > ul {
    display: flex;
}

header nav ul li ul li {
    position: relative;
    background-color: #270f7c10;
}

header nav ul li.menu ul li.sub-menu > ul {
    display: block;
}

header nav ul li ul li ul {
    position: absolute;
    left:100%;
    display:none;
    top: 0;
    width: 100%; 
}

header nav ul li ul li a:hover {
    background-color: rgb(109, 234, 64);
}

header nav ul li.menu ul li.sun-menu:hover > ul {
    display: block;
}



